.containerAuth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.2rem 1rem;
}

.formAuth{
    display: flex;
    flex-direction: column;
    margin: 0.8rem;
}

.formAuth > input{
    padding: 0.2rem;
    margin: 0.1rem;
}
