*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}




.containerListProducts{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem 1.5rem;
}

.btnLogOut{
	background-color: rgb(55, 150, 209);
    border-radius: 5px;
    width: 5rem;
    height: 1.3rem;
    border: none;
    color: aliceblue;
    letter-spacing: 1px;
}

.btnBack{
    border-radius: 5px;
    width: 5rem;
    height: 2rem;
    border: 1px solid rgb(55, 150, 209);
    color: rgb(55, 150, 209);
    letter-spacing: 1px;
}
