.containerProduct{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.containerProductInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.imgProducts{
	width: 10rem;
	height: 10rem;
}