.containerProduct{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px gray solid
}

.containerProductInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.imgProducts{
	width: 10rem;
	height: 10rem;
    object-fit: contain;
}
.priceProduct{
    font-weight: 600;
}
.btnBuy{
    background-color: rgb(55, 150, 209);
    border-radius: 5px;
    width: 5rem;
    height: 1.3rem;
    border: none;
    color: aliceblue;
    letter-spacing: 1px;
}